scraper
.Rproj.user
.ipynb_checkpoints
motogpstats.Rproj
motogpdata/__pycache__
.Rhistory
.Rhistory
data/
.DS_Store
test_analysis.ipynb
test2.ipynb
motogpdata/api copy.py
track_temp.ipynb
old_example.ipynb
motogp_analisi_dati_pubblici_prospetto.docx